body {
      margin: 0;
      padding: 0;
}



h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(7, 51, 131);
    text-align: center;
}

button{
    background-color: #febe01;
    border-radius: 8px;
}

a{
    background-color: #febe01;
    color: #000;
    text-decoration: none;
    padding: 10px;
    
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    
    
    
}

.container-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}
.container-box title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container-box link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
